@import 'config';

* {
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  color: $dark-blue;
  font-family: $body-font;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

p {
  color: $dark-blue;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px;
  margin-top: 10px;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  &:focus,
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

::selection {
  background: $black;
  color: $white;
}

.hline {
  border-bottom: 2px solid $dark-blue;
  margin-bottom: 25px;
}

.hline-w {
  border-bottom: 2px solid $white;
  margin-bottom: 25px;
}

.blue-container {
  background-color: $blue;
  color: $white;
  padding: 100px 0;

  p {
    color: $white;
  }

}
