// Colours
$white: #fefefe;
$black: #2b2e31;
$blue: #00b3fe;
$dark-blue: #384452;
$dark-grey: #5e5e5e;
$red: #b22222;

// Fonts
$header-font: 'Source Sans Pro', sans-serif;
$body-font: 'Lato', sans-serif;
