#home {
  background-color: #00b3fe;
  min-height: 550px;
  padding-top: 100px;
  padding-bottom: 0;
  text-align: center;
}

#home h3, h5 {
  color: white;
  font-weight: 400;
}

#home h1 {
  color: white;
  margin-bottom: 25px;
}

#home .img-responsive {
  margin: 0 auto;
}
