@import 'config';

#home {
  background-color: $blue;
  min-height: 550px;
  padding-bottom: 0;
  padding-top: 100px;
  text-align: center;

  h3,
  h5 {
    color: $white;
    font-weight: 400;
  }

  h1 {
    color: $white;
    margin-bottom: 25px;
  }

  .img-responsive {
    margin: 0 auto;
  }

}
