<% provide(:title, 'Entries in your diary') %>

<div class="page-header">
  <h1>Entries in your diary</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <% if @entries.any? %>
      <div class="list-group">
        <% @entries.each do |e| %>
          <%= link_to user_entry_path(id: e, user_id: @user), class: 'list-group-item' do %>
            <h4 class="list-group-item-heading"><%= l e.created_at.to_date %></h4>
            <p class="list-group-item-text"><%= e.body.truncate(100, separator: /\s/) %></p>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p>You haven't created any diary entries yet. Why not make a start?</p>
    <% end %>

    <% if @entries.empty? || @entries.last.created_at.to_date != Date.today %>
      <div class="btn-group">
        <%= link_to 'Create a new entry', new_user_entry_path(@user), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
