<h1><%= @diary.title %></h1>

<h4>Entries in this diary</h4>
<ol>
  <li>Example entry 1</li>
  <li>Example entry 2</li>
  <li>Example entry 3</li>
</ol>

<%= link_to 'Back to your diaries', user_diaries_url %>
