/* Coolors Exported Palette - coolors.co/555b6e-89b0ae-faf9f9-8ee3ef-ffd6ba */

$color1: #555b6e; //rgba(85, 91, 110, 100)
$color2: #89b0ae; //rgba(137, 176, 174, 100)
$color3: #faf9f9; //rgba(250, 249, 249, 100)
$color4: #8ee3ef; //rgba(142, 227, 239, 100)
$color5: #ffd6ba; //rgba(255, 214, 186, 100)
