/* Coolors Exported Palette - coolors.co/30343f-fafaff-e4d9ff-273469-1e2749 */

$color1: #30343f; //rgba(48, 52, 63, 100)
$color2: #fafaff; //rgba(250, 250, 255, 100)
$color3: #e4d9ff; //rgba(228, 217, 255, 100)
$color4: #273469; //rgba(39, 52, 105, 100)
$color5: #1e2749; //rgba(30, 39, 73, 100)
