/* Coolors Exported Palette - coolors.co/f6e8ea-ef626c-22181c-8ee3ef-312f2f */

$color1: #f6e8ea; //rgba(246, 232, 234, 100)
$color2: #ef626c; //rgba(239, 98, 108, 100)
$color3: #22181c; //rgba(34, 24, 28, 100)
$color4: #8ee3ef; //rgba(142, 227, 239, 100)
$color5: #312f2f; //rgba(49, 47, 47, 100)
