<footer>
  <div class="container">
    <div class="text-right no-shadow">
      <span class="octicon octicon-keyboard"></span> with <span class="octicon octicon-heart"></span> by <a href="http://joenyland.me" class="text-bold" target="_blank">Joe Nyland</a>
    </div>
  </div>
</footer>
